/* css reference: https://codepen.io/aldicodes/pen/poBPEQr */
.modal-window,
.modal-container {
    transition: 0.5s;
}

.modal-window {
    position: fixed;
    top: 50%;
    right: -300px;
    translate: 50% -50%;
    background: #ffffff;
    color: #000000;
    padding: 48px 40px;
    width: 600px;
    height: auto;
    border-radius: 12px;
    z-index: 11;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.8);
}

h2 {
    margin: 0 0 8px;
    font-weight: 900;
    font-size: 21px;
}

p {
    margin: 0;
}

@keyframes modal-window-in {
    0%,
    50% {
        border-radius: 50%;
    }
    55%,
    100% {
        right: 50%;
    }
    60% {
        border-radius: 12px;
    }
    75% {
        translate: 50% -50%;
    }
}

@keyframes card-container-in {
    0%,
    75% {
        opacity: 0;
    }
    85%,
    100% {
        opacity: 1;
    }
}

.ul-mapped-CWEs > .li-mapped-CWEs{
    list-style: none;
    margin-bottom: 5px;
    border-bottom: #000 1px solid;
}

.ul-mapped-CWEs > .li-mapped-CWEs:hover{
    border-bottom: none;
    background: #000;
    color: #fff;
}